<div class="top">
  <p>荒井教室　火・木・土曜日</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d974.4669392220869!2d134.79029048862182!3d34.763073081544576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3554d8df4406af9d%3A0x5bc545fd9a2d64d5!2z44CSNjc2LTAwMDQg5YW15bqr55yM6auY56CC5biC6I2S5LqV55S65Y2D6bOl77yS5LiB55uu77yR77yZ4oiS77yR77yX!5e0!3m2!1sja!2sjp!4v1611305289026!5m2!1sja!2sjp" width="100%" height="550px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
