<div class="map-place">
  <div class="map-place-arai">
    <%= link_to("荒井教室はこちらから", "/maps/arai") %>
  </div>
  <div class="map-place-ikeda">
    <%= link_to("池田教室はこちらから", "/maps/ikeda") %>
  </div>
</div>
